/** @format */
@media (max-width: 1299.98px) {
  .main-section .bg-layer {
    top: -35rem;
  }
  .explore-further .right-bg-img.img1, .explore-further .right-bg-img.img3, .explore-further .right-bg-img.img5, .explore-further .right-bg-img.img7 {
    right: -10rem;
    margin-top: -26rem;
  }
  .explore-further .left-bg-img.img2, .explore-further .left-bg-img.img4, .explore-further .left-bg-img.img6 {
    left: -10rem;
  }
}

@media (max-width: 1199.98px) {
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  .main-section .main-title {
    font-size: 4rem;
    line-height: 6rem;
  }
  .main-section .bg-layer {
    top: -32rem;
    left: -32rem;
  }
  .intro-sec .title {
    line-height: 4.5rem;
  }
  .intro-sec .btn {
    margin-top: 3rem;
  }
  .best-business .sec-title {
    margin-left: -5rem;
  }
  .main-advantage .title {
    width: 100%;
  }
  .explore-further .left-bg-img.img2,
  .explore-further .left-bg-img.img4,
  .explore-further .left-bg-img.img6 {
    left: -19rem;
  }
}
/*# sourceMappingURL=responsive.css.map */