/** @format */

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1299.98px) {
  .main-section .bg-layer {
    top: -35rem;
  }
  .explore-further {
    .right-bg-img {
      &.img1,
      &.img3,
      &.img5,
      &.img7 {
        right: -10rem;
        margin-top: -26rem;
      }
    }
    .left-bg-img {
      &.img2,
      &.img4,
      &.img6 {
        left: -10rem;
      }
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  .main-section .main-title {
    font-size: 4rem;
    line-height: 6rem;
  }
  .main-section .bg-layer {
    top: -32rem;
    left: -32rem;
  }
  .intro-sec .title {
    line-height: 4.5rem;
  }
  .intro-sec .btn {
    margin-top: 3rem;
  }
  .best-business .sec-title {
    margin-left: -5rem;
  }
  .main-advantage .title {
    width: 100%;
  }

  .explore-further .left-bg-img.img2,
  .explore-further .left-bg-img.img4,
  .explore-further .left-bg-img.img6 {
    left: -19rem;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
