/** @format */
@import "var.scss";

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-size: 14px;
  overflow-x: hidden;
  font-weight: 400;
  color: #000000;
  font-family: $font2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.column-2 {
  -webkit-column-count: 2;
  column-count: 2;
}

button:focus,
.btn:focus,
.form-control:focus,
input:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  height: auto !important;
  padding-top: 1.2rem;
}

.highlightO {
  color: $theme--orange;
}

.highlightB {
  color: $theme--blue;
}

.bgGray {
  background-color: #fbfbfb;
}

.sec-padding {
  padding: 10rem 0;
}

.flex-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.13);
  position: relative;
  line-height: 25px;
  padding-left: 1.5rem;
  margin-bottom: 2rem;

  b {
    font-family: $font1;
    font-size: 22px;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.13);
  }
}

.sec-title {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 8rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 6.5rem;
    height: 3px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &.highlightB {
    &::before {
      background-color: $theme--blue;
    }
  }
  &.highlightO {
    &::before {
      background-color: $theme--orange;
    }
  }
  &.text-center {
    width: max-content;
    margin: auto;
  }
}

.btn-default {
  min-width: 19.5rem;
  line-height: 5rem;
  padding: 0;
  box-shadow: none;
  border: 1px solid $theme--blue;
  border-radius: 0;
  z-index: 1;
  color: #ffffff;
  font-family: $font2;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease-in-out;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: top;
    background-color: $theme--blue;
    transition: 0.5s ease-in-out;
  }
  &:hover {
    color: $theme--blue;
    &::before {
      transform: scaleY(0);
    }
  }
  &.white {
    color: $theme--blue;
    border-color: #ffffff;
    &::before {
      background-color: #ffffff;
    }
    &:hover {
      color: #ffffff;
    }
  }
  &.btn-orange {
    color: #ffffff;
    border-color: $theme--orange;
    &::before {
      background-color: $theme--orange;
    }
    &:hover {
      color: $theme--orange;
    }
    &.transparent {
      color: $theme--orange;
      &::before {
        transform: scaleY(0);
      }
      &:hover {
        color: #ffffff;
        &::before {
          transform: scaleY(1);
        }
      }
    }
  }
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 7px 0;
  transition: 1s ease-in-out;
  &.slidable {
    position: fixed;
    width: 100%;
    top: -10rem;
    padding: 0;
    transition: 1s ease-in-out;
  }
  &.sticky {
    top: 0;
    padding: 7px 0;
    position: fixed;
    background-color: $theme--blue;
    &.navbar_brand {
      font-size: 22px;
      line-height: 26px;
    }
  }
}
.navbar_brand {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  //   width: 24rem;
  text-align: center;
  transition: 0.5s ease-in-out;
  &:hover {
    color: #ffffff;
  }
}
.nav_toggle {
  position: absolute;
  right: 0;
  top: 0;
  color: #ffffff;
  font-size: 25px;
  line-height: 27px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: $theme--blue;
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: $theme--orange;
  }
  .letter {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 12px;
    top: 15px;
    right: 16px;
    justify-content: space-between;
    height: 17px;
    span {
      width: 100%;
      height: 2px;
      background: #fff;
      &:nth-child(2) {
        width: 60%;
      }
    }
  }
}

.main-section {
  position: relative;
  z-index: 1;
  padding: 10rem 0 10rem;
  .bg-layer {
    position: absolute;
    z-index: -1;
    left: -43rem;
    top: -78rem;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .right-images {
    text-align: right;
  }
  .main-title {
    font-size: 5.5rem;
    color: #fff;
    font-weight: 700;
    line-height: 8.25rem;
  }
  .btn {
    width: 24rem;
    line-height: 6.5rem;
    margin-top: 5rem;
  }
}

// INTRO SEC
.intro-sec {
  .btn {
    margin-top: 5rem;
  }
  .right-img {
    text-align: right;
  }
  .title {
    font-weight: 600;
    line-height: 4rem;
    font-size: 2.8rem;
    margin: 0 15%;
  }
  .content {
    padding-top: 12rem;
    max-width: 55rem;
  }
  .intro-title {
    font-family: $font3;
  }
  .company-title {
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 4rem 0 1rem;
  }
  .upper-content {
    // padding-top: 3rem;
    p {
      // font-family: $font1;
      // color: $textColor;
      font-size: 20px;
      line-height: 32px;
    }
    .btn {
      margin-top: 2rem;
    }
    .sub_title {
      font-size: 20px;
    }
  }
  .bottom-content {
    padding: 5rem 0 10rem;
  }
}

.main-content {
  margin-top: 5rem;
}

// MAIN ADVANTAGE
.main-advantage {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 24.3rem;
    left: 0px;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    background: linear-gradient(
      92.44deg,
      #183661 75.61%,
      rgba(32, 255, 215, 0) 162.71%
    );
  }
  .box {
    background: #ffffff;
    box-shadow: 4px 4px 18px 10px rgba(201, 201, 201, 0.1);
    padding: 3rem;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    position: relative;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      width: 6rem;
      height: 5rem;
      background: rgba(24, 54, 97, 0.22);
      top: 0;
      right: 0;
      box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
    }
    &.happier-clients {
      .side-text {
        right: -7rem;
        top: 10rem;
      }
    }
    &.visibility {
      .side-text {
        right: -4rem;
        top: 7rem;
      }
    }
    .side-text {
      position: absolute;
      font-size: 18px;
      line-height: 36px;
      text-align: right;
      letter-spacing: 5px;
      text-transform: uppercase;
      color: #afaeae;
      transform: rotate(-90deg);
      right: -5rem;
      top: 8rem;
    }
  }
  .ele-box {
    position: absolute;
    width: 6rem;
    height: 5rem;
    background: $theme--blue;
    top: 3rem;
    left: -4rem;
    box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
  }
  .entry-title {
    font-weight: 700;
    text-transform: uppercase;
  }
  .title {
    font-family: $font2;
    font-weight: 500;
    width: 90%;
    margin: 2rem 0 1rem;
    font-size: 16px;
  }
  p {
    font-size: 14px;
    line-height: 16px;
    color: $textColor;
  }
  .btn {
    margin-top: 15px;
    margin-left: auto;
    display: block;
    width: max-content;
  }
  .sub-title {
    margin-bottom: 3rem;
  }
}

// BEST BUSINESS
.best-business {
  box-shadow: inset -100px 20px 100px 50px rgba(0, 0, 0, 0.02);
  .content-box {
    background: #ffffff;
    box-shadow: -2px -27px 40px 15px rgba(207, 207, 207, 0.09);
    padding: 4rem;
  }
  .sec-title {
    margin-left: -8rem;
    margin-bottom: 3rem;
  }
  .inner-box {
    padding: 4rem 2rem 2rem;
    height: 100%;
    text-align: center;
    background: #ffffff;
    box-shadow: 4px 4px 18px rgba(201, 201, 201, 0.2);
    &:hover {
      .title {
        color: $theme--orange;
      }
    }
    a {
      text-decoration: none;
      color: #000000;
    }
    .title {
      margin: 2rem 0 1rem;
      font-weight: 600;
      transition: 0.5s ease-in-out;
    }
    p {
      line-height: 20px;
      margin: 0 5%;
      color: $textColor;
    }
    .icon {
      height: 100px;
    }
  }
  .btn {
    &:nth-child(1) {
      margin-right: 2rem;
    }
  }
}

// FOCUS AREAS
.focus-area {
  .box {
    position: relative;
    padding: 4rem 3rem;
    background-color: #ffffff;
    box-shadow: 4px 4px 18px 10px rgba(201, 201, 201, 0.1);
    transition: 0.5s ease-in-out;
    &:hover {
      background-color: $theme--blue;
      .title {
        color: #ffffff;
      }
      img {
        filter: brightness(0) invert(1);
      }
    }
    &.sales {
      &::before {
        content: "";
        position: absolute;
        width: 6rem;
        height: 5rem;
        background: rgba(24, 54, 97, 0.22);
        bottom: 1rem;
        right: 0;
        box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
      }
    }
    &.rd {
      &::before {
        content: "";
        position: absolute;
        width: 6rem;
        height: 5rem;
        background: rgba(24, 54, 97, 0.22);
        top: 0;
        right: 0;
        box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
      }
    }
    &.management {
      &::before {
        content: "";
        position: absolute;
        width: 6rem;
        height: 5rem;
        background: rgba(24, 54, 97, 0.22);
        top: -2rem;
        left: -3rem;
        box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
      }
    }
    &.hr {
      &::before {
        content: "";
        position: absolute;
        width: 6rem;
        height: 5rem;
        background: $theme--blue;
        top: 3rem;
        left: -4rem;
        box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
      }
    }
  }
  .title {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 600;
    transition: 0.5s ease-in-out;
  }
  img {
    width: 8rem;
    transition: 0.5s ease-in-out;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
  .d-flex {
    align-items: center;
  }
  .icon {
    margin-right: 2rem;
  }

  .sec-list {
    margin-top: 5rem;
    .sub-title {
      margin-bottom: 3.5rem;
    }
    li {
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.01em;
    }
  }
}

.sec-list {
  li {
    padding-left: 3rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      background: rgba(24, 54, 97, 0.6);
      transform: rotate(-45.4deg);
      left: 0;
      top: 8px;
    }
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

// EXPLORE FURTHER
.explore-further {
  background: #ffffff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: inset -100px 20px 100px 50px rgba(0, 0, 0, 0.02);
  .left-content {
    padding-right: 6rem;
  }
  .right-content {
    padding-left: 6rem;
  }
  .title {
    font-weight: 600;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1.8rem;
  }
  p {
    color: $textColor;
  }
  .list-title {
    margin-bottom: 1rem;
    font-family: $font1;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: rgba(0, 0, 0, 0.4);
  }
  li {
    font-size: 14px;

    &::before {
      background-color: #000000;
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .sec-list {
    margin-top: 3rem;
  }
  img {
    border-radius: 2rem;
  }
  .right-bg-img,
  .left-bg-img {
    position: absolute;
    z-index: -1;
  }
  .left-bg-img {
    &.img2,
    &.img4,
    &.img6 {
      left: -2rem;
      // top: 68rem;
      margin-top: -9rem;
    }
  }
  .right-bg-img {
    &.img1 {
      // top: -2rem;
      // right: -5rem;
      right: -5rem;
      margin-top: -27rem;
    }
    &.img3 {
      right: -5rem;
      margin-top: -27rem;
    }
    &.img5,
    &.img7 {
      right: -5rem;
      margin-top: -27rem;
    }
  }

  .row {
    > .col-md-6 {
      margin-top: 8rem;
    }
  }

  .content-box {
    background: #ffffff;
    box-shadow: 5px 5px 20px 6px rgba(0, 0, 0, 0.03);
    padding: 5rem 8rem;
    margin-top: 8rem;
    p {
      font-size: 15px;
      line-height: 25px;
      color: #000000;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22rem;
    z-index: -1;
    background: linear-gradient(92.38deg, #dd6b4d 45.75%, #e7d0c0 162.72%);
  }
}

.newsletter {
  .newsletter-letter {
    border: 1px solid #e2e2e2;
    padding: 3rem 4rem;
    .sec_title {
      margin-bottom: 0;
      font-family: $font1;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #000000;
      opacity: 0.8;
    }
    .form-control {
      font-size: 13px;
      height: 6rem;
      font-family: $font2;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      padding: 0 1.5rem;
      border-radius: 0;
      transition: 0.5s ease-in-out;
      &::placeholder {
        opacity: 0.5;
        letter-spacing: 1.5px;
        transition: 0.5s ease-in-out;
      }
      &:focus {
        border-color: $theme--blue;
        &::placeholder {
          opacity: 0.1;
        }
      }
    }
    .btn-default {
      line-height: 5.9rem;
      min-width: 15rem;
    }
  }
  .newsletter_left {
    width: 30%;
  }
  .newsletter_right {
    width: 65%;
  }
  img {
    margin-right: 2rem;
    width: 75px;
  }
}

// FOOTER
footer {
  padding-bottom: 3rem;
  .navbar_brand {
    color: #000000;
    margin-bottom: 2rem;
    &:hover {
      color: #000000;
    }
  }
  .footer-intro {
    p {
      margin-right: 18%;
      color: $textColor;
      text-align: justify;
    }
  }
  .footer-div {
    li {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
  .footer-title {
    font-weight: 500;
    font-size: 18px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 3rem;
    &::after {
      content: "";
      position: absolute;
      width: 46px;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: $theme--orange;
    }
  }
  a {
    text-decoration: none;
    font-size: 16px;
    color: $textColor;

    transition: 0.5s ease-in-out;
    &:hover {
      color: $theme--blue;
      font-weight: bold;
    }
  }
  .social-icons {
    img {
      transition: 1s ease-in-out;
    }
    li {
      a {
        display: block;
        &:hover {
          img {
            transform: rotateY(360deg);
          }
        }
      }
    }
  }
  .d-flex > i {
    font-size: 18px;
    margin-right: 12px;
    color: $theme--blue;
  }

  .copyright {
    margin-top: 2.5rem;
    p {
      font-size: 16px;
      color: $textColor;
    }
  }
}

@media (max-width: 1519.98px) {
  .main-section .bg-layer {
    top: -64rem;
  }
}
@media (max-width: 1399.98px) {
  .main-section .bg-layer {
    top: -68rem;
    left: -33rem;
  }
  .main-section .main-title {
    font-size: 4.5rem;
    line-height: 6.25rem;
  }
}
