/** @format */
/** @format */
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-size: 14px;
  overflow-x: hidden;
  font-weight: 400;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.column-2 {
  -webkit-column-count: 2;
  column-count: 2;
}

button:focus,
.btn:focus,
.form-control:focus,
input:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  height: auto !important;
  padding-top: 1.2rem;
}

.highlightO {
  color: #dd6b4d;
}

.highlightB {
  color: #183661;
}

.bgGray {
  background-color: #fbfbfb;
}

.sec-padding {
  padding: 10rem 0;
}

.flex-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-title {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.13);
  position: relative;
  line-height: 25px;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.sub-title b {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.sub-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.13);
}

.sec-title {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 8rem;
  position: relative;
}

.sec-title::before {
  content: "";
  position: absolute;
  width: 6.5rem;
  height: 3px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sec-title.highlightB::before {
  background-color: #183661;
}

.sec-title.highlightO::before {
  background-color: #dd6b4d;
}

.sec-title.text-center {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

.btn-default {
  min-width: 19.5rem;
  line-height: 5rem;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #183661;
  border-radius: 0;
  z-index: 1;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn-default::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform-origin: top;
          transform-origin: top;
  background-color: #183661;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.btn-default:hover {
  color: #183661;
}

.btn-default:hover::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.btn-default.white {
  color: #183661;
  border-color: #ffffff;
}

.btn-default.white::before {
  background-color: #ffffff;
}

.btn-default.white:hover {
  color: #ffffff;
}

.btn-default.btn-orange {
  color: #ffffff;
  border-color: #dd6b4d;
}

.btn-default.btn-orange::before {
  background-color: #dd6b4d;
}

.btn-default.btn-orange:hover {
  color: #dd6b4d;
}

.btn-default.btn-orange.transparent {
  color: #dd6b4d;
}

.btn-default.btn-orange.transparent::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.btn-default.btn-orange.transparent:hover {
  color: #ffffff;
}

.btn-default.btn-orange.transparent:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  padding: 7px 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

header.slidable {
  position: fixed;
  width: 100%;
  top: -10rem;
  padding: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

header.sticky {
  top: 0;
  padding: 7px 0;
  position: fixed;
  background-color: #183661;
}

header.sticky.navbar_brand {
  font-size: 22px;
  line-height: 26px;
}

.navbar_brand {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.navbar_brand:hover {
  color: #ffffff;
}

.nav_toggle {
  position: absolute;
  right: 0;
  top: 0;
  color: #ffffff;
  font-size: 25px;
  line-height: 27px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #183661;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav_toggle:hover {
  background-color: #dd6b4d;
}

.nav_toggle .letter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 12px;
  top: 15px;
  right: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 17px;
}

.nav_toggle .letter span {
  width: 100%;
  height: 2px;
  background: #fff;
}

.nav_toggle .letter span:nth-child(2) {
  width: 60%;
}

.main-section {
  position: relative;
  z-index: 1;
  padding: 10rem 0 10rem;
}

.main-section .bg-layer {
  position: absolute;
  z-index: -1;
  left: -43rem;
  top: -78rem;
  width: 100%;
}

.main-section .bg-layer img {
  width: 100%;
  height: 100%;
}

.main-section .right-images {
  text-align: right;
}

.main-section .main-title {
  font-size: 5.5rem;
  color: #fff;
  font-weight: 700;
  line-height: 8.25rem;
}

.main-section .btn {
  width: 24rem;
  line-height: 6.5rem;
  margin-top: 5rem;
}

.intro-sec .btn {
  margin-top: 5rem;
}

.intro-sec .right-img {
  text-align: right;
}

.intro-sec .title {
  font-weight: 600;
  line-height: 4rem;
  font-size: 2.8rem;
  margin: 0 15%;
}

.intro-sec .content {
  padding-top: 12rem;
  max-width: 55rem;
}

.intro-sec .intro-title {
  font-family: "Great Vibes", cursive;
}

.intro-sec .company-title {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 600;
  margin: 4rem 0 1rem;
}

.intro-sec .upper-content p {
  font-size: 20px;
  line-height: 32px;
}

.intro-sec .upper-content .btn {
  margin-top: 2rem;
}

.intro-sec .upper-content .sub_title {
  font-size: 20px;
}

.intro-sec .bottom-content {
  padding: 5rem 0 10rem;
}

.main-content {
  margin-top: 5rem;
}

.main-advantage {
  position: relative;
}

.main-advantage::before {
  content: "";
  position: absolute;
  height: 24.3rem;
  left: 0px;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: linear-gradient(92.44deg, #183661 75.61%, rgba(32, 255, 215, 0) 162.71%);
}

.main-advantage .box {
  background: #ffffff;
  -webkit-box-shadow: 4px 4px 18px 10px rgba(201, 201, 201, 0.1);
          box-shadow: 4px 4px 18px 10px rgba(201, 201, 201, 0.1);
  padding: 3rem;
  padding-right: 5rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  position: relative;
  height: 100%;
}

.main-advantage .box::before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 5rem;
  background: rgba(24, 54, 97, 0.22);
  top: 0;
  right: 0;
  -webkit-box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
          box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
}

.main-advantage .box.happier-clients .side-text {
  right: -7rem;
  top: 10rem;
}

.main-advantage .box.visibility .side-text {
  right: -4rem;
  top: 7rem;
}

.main-advantage .box .side-text {
  position: absolute;
  font-size: 18px;
  line-height: 36px;
  text-align: right;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #afaeae;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  right: -5rem;
  top: 8rem;
}

.main-advantage .ele-box {
  position: absolute;
  width: 6rem;
  height: 5rem;
  background: #183661;
  top: 3rem;
  left: -4rem;
  -webkit-box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
          box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
}

.main-advantage .entry-title {
  font-weight: 700;
  text-transform: uppercase;
}

.main-advantage .title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 90%;
  margin: 2rem 0 1rem;
  font-size: 16px;
}

.main-advantage p {
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.main-advantage .btn {
  margin-top: 15px;
  margin-left: auto;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.main-advantage .sub-title {
  margin-bottom: 3rem;
}

.best-business {
  -webkit-box-shadow: inset -100px 20px 100px 50px rgba(0, 0, 0, 0.02);
          box-shadow: inset -100px 20px 100px 50px rgba(0, 0, 0, 0.02);
}

.best-business .content-box {
  background: #ffffff;
  -webkit-box-shadow: -2px -27px 40px 15px rgba(207, 207, 207, 0.09);
          box-shadow: -2px -27px 40px 15px rgba(207, 207, 207, 0.09);
  padding: 4rem;
}

.best-business .sec-title {
  margin-left: -8rem;
  margin-bottom: 3rem;
}

.best-business .inner-box {
  padding: 4rem 2rem 2rem;
  height: 100%;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 4px 4px 18px rgba(201, 201, 201, 0.2);
          box-shadow: 4px 4px 18px rgba(201, 201, 201, 0.2);
}

.best-business .inner-box:hover .title {
  color: #dd6b4d;
}

.best-business .inner-box a {
  text-decoration: none;
  color: #000000;
}

.best-business .inner-box .title {
  margin: 2rem 0 1rem;
  font-weight: 600;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.best-business .inner-box p {
  line-height: 20px;
  margin: 0 5%;
  color: rgba(0, 0, 0, 0.6);
}

.best-business .inner-box .icon {
  height: 100px;
}

.best-business .btn:nth-child(1) {
  margin-right: 2rem;
}

.focus-area .box {
  position: relative;
  padding: 4rem 3rem;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 4px 18px 10px rgba(201, 201, 201, 0.1);
          box-shadow: 4px 4px 18px 10px rgba(201, 201, 201, 0.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.focus-area .box:hover {
  background-color: #183661;
}

.focus-area .box:hover .title {
  color: #ffffff;
}

.focus-area .box:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.focus-area .box.sales::before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 5rem;
  background: rgba(24, 54, 97, 0.22);
  bottom: 1rem;
  right: 0;
  -webkit-box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
          box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
}

.focus-area .box.rd::before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 5rem;
  background: rgba(24, 54, 97, 0.22);
  top: 0;
  right: 0;
  -webkit-box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
          box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
}

.focus-area .box.management::before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 5rem;
  background: rgba(24, 54, 97, 0.22);
  top: -2rem;
  left: -3rem;
  -webkit-box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
          box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
}

.focus-area .box.hr::before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 5rem;
  background: #183661;
  top: 3rem;
  left: -4rem;
  -webkit-box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
          box-shadow: -4px 3px 7px 3px rgba(154, 197, 251, 0.15);
}

.focus-area .title {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 600;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.focus-area img {
  width: 8rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.focus-area a {
  text-decoration: none;
  color: #000000;
}

.focus-area .d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.focus-area .icon {
  margin-right: 2rem;
}

.focus-area .sec-list {
  margin-top: 5rem;
}

.focus-area .sec-list .sub-title {
  margin-bottom: 3.5rem;
}

.focus-area .sec-list li {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.sec-list li {
  padding-left: 3rem;
  position: relative;
}

.sec-list li::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background: rgba(24, 54, 97, 0.6);
  -webkit-transform: rotate(-45.4deg);
          transform: rotate(-45.4deg);
  left: 0;
  top: 8px;
}

.sec-list li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.explore-further {
  background: #ffffff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: inset -100px 20px 100px 50px rgba(0, 0, 0, 0.02);
          box-shadow: inset -100px 20px 100px 50px rgba(0, 0, 0, 0.02);
}

.explore-further .left-content {
  padding-right: 6rem;
}

.explore-further .right-content {
  padding-left: 6rem;
}

.explore-further .title {
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1.8rem;
}

.explore-further p {
  color: rgba(0, 0, 0, 0.6);
}

.explore-further .list-title {
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.4);
}

.explore-further li {
  font-size: 14px;
}

.explore-further li::before {
  background-color: #000000;
}

.explore-further li:not(:last-child) {
  margin-bottom: 1rem;
}

.explore-further .sec-list {
  margin-top: 3rem;
}

.explore-further img {
  border-radius: 2rem;
}

.explore-further .right-bg-img,
.explore-further .left-bg-img {
  position: absolute;
  z-index: -1;
}

.explore-further .left-bg-img.img2, .explore-further .left-bg-img.img4, .explore-further .left-bg-img.img6 {
  left: -2rem;
  margin-top: -9rem;
}

.explore-further .right-bg-img.img1 {
  right: -5rem;
  margin-top: -27rem;
}

.explore-further .right-bg-img.img3 {
  right: -5rem;
  margin-top: -27rem;
}

.explore-further .right-bg-img.img5, .explore-further .right-bg-img.img7 {
  right: -5rem;
  margin-top: -27rem;
}

.explore-further .row > .col-md-6 {
  margin-top: 8rem;
}

.explore-further .content-box {
  background: #ffffff;
  -webkit-box-shadow: 5px 5px 20px 6px rgba(0, 0, 0, 0.03);
          box-shadow: 5px 5px 20px 6px rgba(0, 0, 0, 0.03);
  padding: 5rem 8rem;
  margin-top: 8rem;
}

.explore-further .content-box p {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

.explore-further::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22rem;
  z-index: -1;
  background: linear-gradient(92.38deg, #dd6b4d 45.75%, #e7d0c0 162.72%);
}

.newsletter .newsletter-letter {
  border: 1px solid #e2e2e2;
  padding: 3rem 4rem;
}

.newsletter .newsletter-letter .sec_title {
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.8;
}

.newsletter .newsletter-letter .form-control {
  font-size: 13px;
  height: 6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 0 1.5rem;
  border-radius: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.newsletter .newsletter-letter .form-control::-webkit-input-placeholder {
  opacity: 0.5;
  letter-spacing: 1.5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.newsletter .newsletter-letter .form-control:-ms-input-placeholder {
  opacity: 0.5;
  letter-spacing: 1.5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.newsletter .newsletter-letter .form-control::-ms-input-placeholder {
  opacity: 0.5;
  letter-spacing: 1.5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.newsletter .newsletter-letter .form-control::placeholder {
  opacity: 0.5;
  letter-spacing: 1.5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.newsletter .newsletter-letter .form-control:focus {
  border-color: #183661;
}

.newsletter .newsletter-letter .form-control:focus::-webkit-input-placeholder {
  opacity: 0.1;
}

.newsletter .newsletter-letter .form-control:focus:-ms-input-placeholder {
  opacity: 0.1;
}

.newsletter .newsletter-letter .form-control:focus::-ms-input-placeholder {
  opacity: 0.1;
}

.newsletter .newsletter-letter .form-control:focus::placeholder {
  opacity: 0.1;
}

.newsletter .newsletter-letter .btn-default {
  line-height: 5.9rem;
  min-width: 15rem;
}

.newsletter .newsletter_left {
  width: 30%;
}

.newsletter .newsletter_right {
  width: 65%;
}

.newsletter img {
  margin-right: 2rem;
  width: 75px;
}

footer {
  padding-bottom: 3rem;
}

footer .navbar_brand {
  color: #000000;
  margin-bottom: 2rem;
}

footer .navbar_brand:hover {
  color: #000000;
}

footer .footer-intro p {
  margin-right: 18%;
  color: rgba(0, 0, 0, 0.6);
  text-align: justify;
}

footer .footer-div li:not(:last-child) {
  margin-bottom: 1rem;
}

footer .footer-title {
  font-weight: 500;
  font-size: 18px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 3rem;
}

footer .footer-title::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #dd6b4d;
}

footer a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

footer a:hover {
  color: #183661;
  font-weight: bold;
}

footer .social-icons img {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

footer .social-icons li a {
  display: block;
}

footer .social-icons li a:hover img {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

footer .d-flex > i {
  font-size: 18px;
  margin-right: 12px;
  color: #183661;
}

footer .copyright {
  margin-top: 2.5rem;
}

footer .copyright p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1519.98px) {
  .main-section .bg-layer {
    top: -64rem;
  }
}

@media (max-width: 1399.98px) {
  .main-section .bg-layer {
    top: -68rem;
    left: -33rem;
  }
  .main-section .main-title {
    font-size: 4.5rem;
    line-height: 6.25rem;
  }
}
/*# sourceMappingURL=style.css.map */